.herosection {
  padding-top: 8rem;
  padding-bottom: 3rem;
  background-color: #524f62;
  color: #f3f3f3;
  word-spacing: 1px;
  line-height: 1px;
}
.h3 {
  padding-top: 1rem;
  font-size: 40px;
  color: #524f62;
}

h4 {
  padding-top: 3rem;
}
#about {
  padding: 2rem 1rem;
  background-color: #f3f3f3;
  color: #524f62;
}

#personal2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #524f62;
  color: #f3f3f3;
}
#experiences {
  padding: 3rem 2rem;
  background-color: #f3f3f3;
  color: #524f62;
}
#message {
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  background-color: #524f62;
  color: #f3f3f3;
}
